<form [formGroup]="form" class="container" fxLayout="column" fxLayoutAlign="center center">

  <div fxFlex="25%" fxLayout="row" style="padding: 0px 20px; width: 100%;" fxLayoutAlign="center center">
    <h2> Github Comparator </h2>
  </div>

  <div fxFlex fxLayout="row" fxFill fxLayoutAlign="center start" style="padding: 0px 20px;">

    <mat-card fxFlex="20%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="75%" style="height: 270px" fxLayout="column"
      class="mat-elevation-z4">

      <mat-form-field fxFlex appearance="outline" [ngStyle]="{'font-size.px': '12'}">
        <mat-label> Repository 1 </mat-label>

        <input matInput [matAutocomplete]="auto1" formControlName='filter1'>

        <button class="close-search" matSuffix mat-icon-button *ngIf="filter1HasSelected" (click)="clearFilter1()">
          <mat-icon>close</mat-icon>
        </button>

        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn" (optionSelected)="filter1Selected()">

          <mat-option *ngIf="isLoading1" class="is-loading">
            <mat-spinner diameter="25"></mat-spinner>
          </mat-option>

          <ng-container *ngIf="!isLoading1">
            <mat-option *ngFor="let repository of filteredRepository1" [value]="repository">
              <span>{{ repository.name }}</span>
            </mat-option>
          </ng-container>

        </mat-autocomplete>

      </mat-form-field>

      <div fxFlex fxLayoutAlign="center center" style="padding: 15px;">
        <img src="assets/images/vs2.png" style="width: 70px;" />
      </div>

      <mat-form-field fxFlex appearance="outline" style="padding-top: 1.25em; margin-bottom: -1.25em" [ngStyle]="{'font-size.px': '12'}">
        <mat-label> Repository 2 </mat-label>

        <input matInput [matAutocomplete]="auto2" formControlName='filter2'>

        <button class="close-search" matSuffix mat-icon-button *ngIf="filter2HasSelected" (click)="clearFilter2()">
          <mat-icon>close</mat-icon>
        </button>

        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn" (optionSelected)="filter2Selected()">

          <mat-option *ngIf="isLoading2" class="is-loading">
            <mat-spinner diameter="25"></mat-spinner>
          </mat-option>

          <ng-container *ngIf="!isLoading2">
            <mat-option *ngFor="let repository of filteredRepository2" [value]="repository">
              <span>{{ repository.name }}</span>
            </mat-option>
          </ng-container>

        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button color="primary" style="margin-top: 1.25em" *ngIf="!comparing" [disabled]="!filter1HasSelected || !filter2HasSelected"
        (click)="compare()">
        Compare
      </button>

      <button mat-raised-button color="primary" style="margin-top: 1.25em" *ngIf="comparing" [disabled]="true">
        Comparing...
      </button>

    </mat-card>

  </div>

</form>
