  .is-loading ::ng-deep .mat-option-text {
	display: flex;
	justify-content: center;
  }

  h2 {
	margin-top: 0px;
  }

  mat-card {
	height: 315px;
  }

  mat-form-field {
	  font-size: 12px;

	&.repo2 {
		margin-bottom: -1.25em;
	}
  }

  button {
	margin-top: 1.25em;
  }