.container {
	height: 100%;
	width: 100%;
	background: #efefef;
	// background-image: "assets/backgrounds/wallpaper2.jpg";
  }

  .is-loading ::ng-deep .mat-option-text {
	display: flex;
	justify-content: center;
  }